<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header %>
            <h1>Detail </h1>
            <div>
                <form action="/movie-details/<%= movie._id %>" method="POST">
                    <legend>Modifier le film</legend>
                    <label for="movieTitle">Titre du film</label>
                    <input type="text" name="movieTitle" value="<%= movie.movieTitle %>" >
                    <label for="movieYear">Année du film</label>
                    <input type="text" name="movieYear" value="<%= movie.movieYear %>" >
                    <button type="submit">Editer</button>
                </form>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>
