<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header %>
            <h1>Detail </h1>
            <div>
                Voici le detail du film <%= movieId %>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>
