<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header %>
            <h1>Votre recherche sur <em>The Movie Database</em> </h1>
            <div>
                <input type="text" name="term" placeholder="Titre d'un film">
                <button id="btnSearch">Chercher</button>
            </div>
            <div class="result">
            </div>
        </div>
        <% include ./partials/footer %>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/public/js/movieSearch.js"></script>
    </body>
</html>
