<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="central">
            <% include ./partials/header %>
            <h1><%=title %></h1>
            <div class="frenchMovies">
                    <% for(movie of frenchMovies ) { %>
                        <div><%= movie.movieTitle %> - <%= movie.movieYear %> </div>
                    <% } %>
            </div>
            <br>
            <div>
                <form action="/movies" method="post">
                    <label for="movieTitle">Titre du film</label><input type="text" name="movieTitle" class="movieTitle">
                    <label for="movieYear">Année du film</label><input type="text" name="movieYear" class="movieYear">
                    <button type="submit">Ajouter le film</button>
                </form>
            </div>
        </div>
        <% include ./partials/footer %>
        <script src="/public/js/movies.js"></script>
    </body>
</html>
